<h1>Results Board for <% @user  %></h1>
<div class="row">

    <ul>
    <% @results.each do |result| %>
        <li>
        <h2>
        <%= result.quiz.name  %> -- <%= result.score %> %
        </h2>
        <h3>Tries: <% result.tries %></h3>
        <h3>
        <% result.claimed ? 
        `#{result.quiz.points} earned` : `#{result.quiz.points} to earn`
        %>
        </h3>
        </li>
    <% end %>
    </ul>


</div>
