<h1>Results Board for <% @user  %></h1>
<div class="row">

    <ul class="list-group">
    <% @results.each do |result| %>
      <% if result.user_id == @user.id %>
        <li class="list-group-item">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">
              <%= result.quiz.title  %> -- <%= result.score %> %
              </h2>
              <small>Tries: <%= result.tries %></small>
              <h3 class="card-text">
              <% result.claimed ?
              `#{result.quiz.points} earned` : `#{result.quiz.points} to earn`
              %>
              </h3>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>


</div>
