<h1>Results for <% @user %>  </h1>
<div class="row">

    

    <div class="card" style="width: 50rem;">
        <div class="card-body">
            <h2 class="card-title">Your score: <%= @result.score %> % </h2>
            <p class="card-text">Points earned: 5000</p>
            <p class="card-text">Badges earned: _this_badge </p>         
        </div>
    </div>

</div>
