/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require semantic_ui/semantic_ui
 */

@import "bootstrap";

.container {
  padding-top: 14px;
}

.navbar a {
  color: white;
  font-size: 1.7vw;
}

.navbar a:hover {
  color: #ddd;
  font-size: 1.7vw;
  text-decoration: none;
}

.navbar ul li {
  margin: 0 10px 10px 0;
  vertical-align: top;
}

.navbar ul li a {
  margin: 0 10px 10px 0;
  vertical-align: top;
}

input[type="text"] {
  width: 500px;
}
input[type="number"] {
  width: 70px;
}
input[type="email"] {
  width: 500px;
}
input[type="password"] {
  width: 500px;
}
